body{
  position: relative;
  margin: 0px;
  padding: 0px;
}

/*
  CSS for thumbnail size from Instagram
 */
 .crop_thumb {
  position: relative;
  float: left;
  margin: 0em 0em 0em 0em;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.image_thumb {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -75px;
}

/*
  CSS for low resolution size from Instagram
 */
.crop_low {
  position: relative;
  float: left;
  margin: 0em 0em 0em 0em;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.image_low {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

/*
  CSS for high resolution size from Instagram please make
  the right ajustments here. I simply do not use the big images
*/
.crop_high {
  position: relative;
  float:left;
  margin: 0em 0em 0em 0em;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.image_high {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -200px;
}

.insta_div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background-color: white;
  overflow:hidden; 
}
