body{
  position: relative;
  margin: 0px;
  padding: 0px;
}

/*
  CSS for thumbnail size from Instagram
 */
.image_thumb {
  float: left;
  margin: 0em 0em 0em 0em;
  width: 150px;
  height: 150px;
}

/*
  CSS for low resolution size from Instagram
 */
.image_low {
  float: left;
  width: 300px;
  height: 300px;
}

/*
  CSS for high resolution size from Instagram please make
  the right ajustments here. I simply do not use the big images
*/
.image_high {
  float:left;
  margin: 0em 0em 0em 0em;
  width:400px;
  height:400px;
}

.insta_div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background-color: white;
  overflow:hidden; 
}

